*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Arial,Helvetica,sans-serif;
background:#f2f4f7;
color:#222;
}


.header{
background:#F600FF;
color:white;
text-align:center;
padding:20px;
}

.header h1{
margin:0;
font-size:40px;
}


#usuarioActivo{
margin-top:10px;
}


.menu{
display:flex;
justify-content:center;
gap:10px;
padding:15px;
background:white;
}


.menu button{
padding:12px 20px;
border:0;
border-radius:6px;
cursor:pointer;
background:#F600FF;
color:white;
}


.menu button:hover{
background:#F882FF;
}


.seccion{
display:none;
padding:25px;
}


.seccion.activa{
display:block;
}


.bloque{
display:flex;
gap:10px;
margin:20px 0;
align-items:center;
}


input{
padding:10px;
border:1px solid #aaa;
border-radius:5px;
}


button{
cursor:pointer;
}


table{
width:100%;
border-collapse:collapse;
background:white;
}


th{
background:#005baa;
color:white;
padding:10px;
}


td{
padding:10px;
border-bottom:1px solid #000000;
}


tr:hover{
background:#E8E3E3;
}


.fecha-control,
.paginacion{
display:flex;
justify-content:center;
gap:15px;
margin:20px;
}


.modal-fondo{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,.5);
justify-content:center;
align-items:center;
}


.modal-fondo.activo{
display:flex;
}


.modal{
position:relative;
background:white;
padding:25px;
border-radius:10px;
width:500px;
max-width:90%;
}


#cerrarModal{
position:absolute;
right:10px;
top:10px;
background:#c00;
color:white;
border:0;
border-radius:50%;
}


#consolaSistema{
background:#111;
color:#0f0;
min-height:120px;
padding:15px;
font-family:monospace;
}

.iconoHistorial{
    width:32px;
    height:32px;
    cursor:pointer;
    object-fit:contain;
    margin:3px;
}
